/* medium devices */
@media screen and (min-width: 768px) and (max-width: 1058.98px){
	/* layout */
	div#container3{
		display: grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto auto;
	}
}

/* small & extra small devices */
@media screen and (max-width: 767.98px){
	/* layout */
	div#container3{
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto;
	}
	
	/* scris */
	html{
		font-size: 14px;
	}
}

@media screen and (max-width: 399.98px){
	video:first-child, video:nth-child(2), video:nth-child(3){
		width: 300px;
		height: 170px;
	}
}

@media screen and (max-width: 351.98px){
	video:hover{
		box-shadow: none;
		transform: none;
	}
}

@media screen and (max-width: 321.98px){
	img:hover, video:hover{
		box-shadow: none;
		transform: none;
	}
	
	img.rotire:hover{
		transform: rotate(90deg);
	}
}