/* large devices */
@media screen and (min-width: 992px) and (max-width: 1058.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto auto;	
		grid-template-rows: auto auto;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	#img1{
		grid-area: 1/3/2/4;
		align-self: center;
	}
	
	#img2{
		grid-area: 2/3/3/4;
	}
	
	#container figure:first-child{
		align-self: end;
	}
	
	figure#img1, figure#img2, figure:first-child{
		margin: inherit;
	}
	
	video{
		grid-area: 2/1/3/2;
		margin-bottom: 2.6vh;
	}
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto;	
		grid-template-rows: auto auto auto auto;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	figure#img1, figure#img2, figure:first-child{
		margin: inherit;
	}
	
	figure:first-child{
		grid-area: 2/1/3/2;
		margin-top: -2.3vh;
	}
	
	figure#img1{
		grid-area: 3/1/5/2;
		margin-bottom: 6.7vh;
	}
	
	figure#img2{
		grid-area: 2/2/4/3;
	}
}

/* small & extra small devices */
@media screen and (max-width: 767.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto;	
		grid-template-rows: auto;
	}
	
	#container section{
		grid-area: 1/1/2/2;
	}
	
	figure#img1, figure#img2, figure:first-child{
		margin: inherit;
	}
	
	figure:first-child{
		grid-area: 2/1/3/2;
	}
	
	figure#img1{
		grid-area: 3/1/4/2;
		margin-top: 4.3vh;
		margin-bottom: 4.3vh;
	}
	
	#img2{
		grid-area: 4/1/5/2;
	}
	
	figure#img2{
		margin-top: 4.2vh;
	}
	
	/* scris */
	html{
		font-size: 14px;
	}
}

@media screen and (max-width: 321.98px){
	img:hover, video:hover{
		box-shadow: none;
		transform: none;
	}

	img.rotire:hover{
		transform: rotate(90deg);
	}
	
	img, video{
		transition: 0s;
	}
}