/* large devices */
@media screen and (min-width: 992px) and (max-width: 1058.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto auto;	
		grid-template-rows: auto auto;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	#img{
		grid-area: 2/3/3/4;
	}
	
	#vid{
		margin-right: -5vw;
	}
	
	figure, figure#img{
		margin: inherit;
	}
	
	figure#img{
		margin-right: 5vw;
	}
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto;	
		grid-template-rows: auto auto;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	#vid{
		grid-area: 3/1/4/2;
	}
	
	figure, figure#img{
		margin: inherit;
	}
	
	figure#img{
		margin-top: -2.5vh;
	}
}

/* small & extra small devices */
@media screen and (max-width: 767.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto;	
		grid-template-rows: auto;
	}
	
	#container section{
		grid-area: 1/1/2/2;
	}
	
	#vid{
		grid-area: 4/1/5/2;
		margin-bottom: 4.5vh;
	}
	
	figure, figure#img{
		margin: inherit;
		margin-top: 4vh;
	}
	
	figure{
		margin-top: 8.5vh;
	}
	
	/* scris */
	html{
		font-size: 14px;
	}
}