/* large devices */
@media screen and (min-width: 992px) and (max-width: 1058.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto auto;	
		grid-template-rows: auto auto;
		grid-row-gap: 0px;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	#img{
		grid-area: 2/3/3/4;
	}
	
	video{
		margin-bottom: -3.9vw;
		margin-right: 2vw;
	}
	
	#vid{
		margin-right: -5vw; 
	}
	
	figure{
		margin-top: 0px;
	}
}

/* medium devices */
@media screen and (min-width: 768px) and (max-width: 991.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto auto;	
		grid-template-rows: auto auto;
	}
	
	#container section{
		grid-area: 1/1/2/3;
	}
	
	#vid{
		grid-area: 3/1/4/2;
	}
	
	figure{
		margin-top: 6.3vw;
	}

	#img{
		margin-top: 3.3vw;
	}
	
	/* scris */
	html{
		font-size: 14px;
	}
}

/* small & extra small devices */
@media screen and (max-width: 767.98px){
	/* layout */
	div#container{
		display: grid;
		grid-template-columns: auto;	
		grid-template-rows: auto;
	}
	
	#container section{
		grid-area: 1/1/2/2;
	}
	
	figure{
		margin-top: 7.1vw;
	}
	
	#vid{
		grid-area: 4/1/5/2;
		margin-bottom: 5.5vw;
	}
	
	video{
		margin-top: 4vw;
	}
	/* scris */
	html{
		font-size: 12px;
	}
}