/* layout */
div#container{	
	grid-template-rows: auto auto auto;
}

#img1{
	grid-area: 2/1/4/2;
}

#img2{
	grid-area:1/3/3/4;
}

/* media */
img.rotire{
	height: 300px;
	width: 250px;
}

img{
	height: 170px;
	width: 300px;
}

figure:first-child{
	margin-top: 12vh;
}

figure#img2{
	margin-top: 9vh;
}

figure#img1{
	margin-bottom: 4vh;
}