/* layout */
div#container3{
	margin-bottom: 8.7vh;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-template-rows: auto auto;
	grid-row-gap: 8.7vh;
	place-content: space-evenly space-evenly;
	place-items: center center;
}

div#flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: space-around;
	}

div#flex > div{
	margin-bottom: 8.7vh;
}

/* titlu */
h1{
	padding-top: 8.5vh;
	padding-bottom: 5vh;
	text-align: center;
	text-shadow: 3px 3px 5px #BF8468;
}

/* media */
img{
	height: 200px; 
	width: 300px;
}

img.rotire{
	height: 300px;
	width: 200px;
}

figure{
	margin: 0px;
}

img:hover{
	transform: none;
	box-shadow: none;
}

figcaption{
	background-color: #C8AA9D;
	opacity: 0.8;
	width: 100%;
	margin-top: -10.5%;
}

img.rotire + figcaption{
	margin-top: -16%;
}

#derulare1 figure:nth-child(5) figcaption, #derulare1 figure:nth-child(6) figcaption, #derulare1 figure:nth-child(8) figcaption, #derulare1 figure:nth-child(10) figcaption, #derulare1 figure:nth-child(13) figcaption{
	margin-top: -25.5%;
}

video:first-child, video:nth-child(2), video:nth-child(3){
	width: 320px;
	height: 180px;
}

video:nth-child(4), video:nth-child(5), video:last-child{
	width: 168px;
	height: 300px;
}

video{
	margin-right: auto;
	margin-left: auto;
}

/* galerie animata */
div#container1, div#container2{
	height: 300px;
	width: 200px;
	box-sizing: content-box;
	border: 5px inset #704D46;
	overflow: hidden;
	position: relative;
}

div#container2{
	height: 200px;
	width: 300px;
}

div#derulare1, div#derulare2{
	position: absolute;
	display: flex;
	flex-direction: column;
	animation-name: der1;
	animation-duration: 52s;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-delay: 3s;
}

div#derulare2{
	flex-direction: row;
	animation-name: der2;
	animation-duration: 28s;
}

@keyframes der1{
	0%{
    	top: 0px;
    }
	100%{
		top: -1200%;
	}
}

@keyframes der2{
	0%{
    	left: 0px;
    }
	100%{
		left: -600%;
	}
}

/* galerie video */
video:hover{
	box-shadow: #403431 10px 10px 15px;
}
