/* culoare bk */
body{
	background-color: #F2E2D5;
}

/* layout */
section{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20vh;
	background-color: #E2C1B3;
	width: 25%;
	border: 5px inset #704D46;
}

/* titlu */
h1{
	text-align: center;
	text-shadow: 3px 3px 5px #BF8468;
}