<footer>
    <ul>
        <li class = "left"> <a href = "#"> <i class = "fa fa-chevron-circle-up"></i>  Top</a> </li>
        <li class = "left" id = "asc"> Ascundere imagini </li>
        <li class = "right"> <a href = "mailto:claudia-maria.dudau@my.fmi.unibuc.ro"></i>   Claudia</a> </li> 
        <li class = "right"> <a href = "#"> <i class = "fa fa-facebook"></i>   Friptura&amp;Negru</a> </li>
    </ul>
</footer> 