<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Log in page">
		<meta name = "author" content = "Claudia D">
		<meta name = "keywords" content = "blog, iepuri, log-in, sign-up">
		<meta name = "viewport" content = "width = device-width, initial-scale = 1.0">
		
		<link rel = "shortcut icon" type = "image/x-icon" href = "/media/favicon.ico">
		
		<link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/stil-meniu.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/stil-sign-up.css">
		<link rel = "stylesheet" type = "text/css" href = "/css/stil-responsive-sign-up.css">

		<script src = "/js/script-meniu.js"></script>
		
		<title> 404 :( </title>
	</head> 
	
	<body>
		<%- include('../fragmente/header.ejs') %>
		
		<main>
			<section>
            <h1> Wooops </h1>
            <p> Se pare ca ai intrat pe o pagina gresita</p>
            <p> <a href = "/index" style = "text-decoration: none; color: black;"> Apasa aici ca sa te intorci </a> </p>
			</section>
		</main>
	</body>
</html>
