<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Prima zi a lui Negru acasa">
		<meta name = "author" content = "Claudia D">
		<meta name = "keywords" content = "blog, iepuri, povestiri, Negru, acasa">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		
		<link rel = "shortcut icon" type = "image/x-icon" href = "/media/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-meniu.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-blog2.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-responsive-blog2.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-printare.css">

		<script src = "/js/script-meniu.js"></script>
		<script src = "/js/script-blog2.js"></script>
		
		<title> Aparitia lui Negru </title>
	</head> 
	
	<body>
		<%- include('../fragmente/header.ejs') %>
		
		<main>
			<div id = "container">
				<!-- poze -->
				<figure>
					<img src = "/media/img6.jpg" alt = "Imagine cu Negru mic" title = "Negru mic">
					<figcaption> Negru mic </figcaption>
				</figure>
				<figure id = "img1">
					<img class = "rotire" src = "/media/img7.jpg" alt = "Imagine cu Negru mic" title = "Negru mic">
				</figure>
				
				<!-- scris -->
				<section>
					<!-- titlu -->
					<h1> ~ Aparitia lui Negru ~ </h1>
					<p> Stiti cum e viata: te obisnuiesti si tu cu mersul lucruilor ca mai apoi sa se intample ceva care sa iti dea toata lumea peste cap. In cazul lui Friptura aceasta intamplare a fost aparitia lui Negru. Abia se instalase si ea comod in noua ei casa cand deoadata se trezeste ca trebuie sa isi imparta spatiul cu altcineva. Va dati seama ca la inceput nu i-a convenit situatia, insa pana la urma s-a obisnuit, pentru ca cine ar putea sa refuze compania lui Bulgur. </p>
					<p> Cat pentru Negru, schimbarea caminului a fost o adevarata aventura. Saracul era foarte speriat cand l-am adus acasa, iar atitudinea rece a lui Friptura nu l-a ajutat deloc. Nu stia ce sa faca ca sa o imbuneze, asa ca a stat cuminte in coltul lui pana cand Friptura s-a convins ca e inofensiv si ca merita sa-i dea o sanasa.. Restul este istorie. </p>
					<p> Desi nu au avut cel mai bun inceput, dupa ce s-au obisnuit unul cu altul au devenit inseparabili. Friptura a devenit iepurele matur si intelep la care Negru se uita cu admiratie si se duce pentru protectie, iar Negrul a devenit pritenul inofensiv si doritor de atentie de care Friptura nu stia ca are nevoie. </p>
					<p> Acum fac totul impreuna: de la mancat, desi Friptura inca este reticenta cand vine vorba sa isi imparta mancarea, pana la explorat imprejurimile, ceea ce inca il sperie pe Negru, si jucat. Friptura este ghidul lui Negru prin viata, iar Negrul se asigura ca viata lui Friptura nu este niciodata plictisitoare. </p>
				</section>
			
				<!-- poze -->
				<figure id = "img2">
					<img class = "rotire" src = "/media/img8.jpg" alt = "Imagine cu Friptura di Negru" title = "Friptura & Negru">
					<figcaption> Friptura & Negru pe casuta </figcaption>
				</figure>
				<video controls = "controls">
					<source src = "/media/vid4.mp4" type = "video/mp4">
					Video cu Friptura & Negru
				</video>
			</div>
		</main>
			
		<footer>
			<ul>
				<li class = "left"> <a href = "#"> <i class = "fa fa-chevron-circle-up"></i>  Top</a> </li>
				<li class = "left" id = "asc"> Ascundere imagini </li>
				<li class = "left" id = "nr_cuv"> Cuvinte:  </li>
				<li class = "right"> <a href = "/blog3">Next   <i class = "fa fa-chevron-circle-right "></i></a> </li>
				<li class = "right"> <a href = "/blog1"> <i class = "fa fa-chevron-circle-left "></i>   Prev</a> </li>
			</ul>
		</footer>
	</body>
</html>