<!DOCTYPE html>
<html lang = "ro">
	<head>
		<meta charset = "UTF-8">
		<meta name = "description" content = "Iepurii la joaca">
		<meta name = "author" content = "Claudia D">
		<meta name = "keywords" content = "blog, iepuri, joaca">
		<meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
		
		<link rel = "shortcut icon" type = "image/x-icon" href = "/media/favicon.ico">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-meniu.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-blog3.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-responsive-blog3.css">
		<link rel ="stylesheet" type = "text/css" href = "/css/stil-printare.css">

		<script src = "/js/script-meniu.js"></script>
		
		<title> Hai la joaca </title>
	</head> 
	
	<body>
		<%- include('../fragmente/header.ejs') %>
		
		<main>
			<div id = "container">
				<!-- poze -->
				<figure>
					<img src = "/media/img9.jpg" alt = "Imagine cu Friptura ascunsa" title = "Friptura ascunsa">
					<figcaption> Friptura ascusa prin casa </figcaption>
				</figure>
				<video id = "vid" controls = "controls">
					<source src = "/media/vid6.mp4" type = "video/mp4">
					Video cu Negru jucandu-se
				</video>
				
				<!-- scris -->
				<section>
					<!-- titlu -->
					<h1> ~ Hai la joaca ~ </h1>
					<p> Cati dintre voi v-ati dori sa va petreceti viata dormind, mancand si jucandu-va? Ei bine, cu parere de rau va anunt ca asta este numai un vis frumos, pentru noi cel putin. Pentru Friptura si Negru, este doar o zi normala din viata lor. </p>
					<p> Dupa ce au avut parte de o gustare, pentru ca macatul este si va ramane mereu activitatea lor preferata, lui Friptura si Negru le place sa alerge prin casa si sa gaseasca cele mai obscure locuri in care se pot ascunde. Un moment ii vezi, iar in celalat ii cauti prin biblioteca, pe masa, in spatele unui dulap etc. Le place la nebunie sa se joace 'de-a v-ati ascunselea' si se pricep de minune la asta. Desigur, sunt intrigati de orice jucarie noua care le apare in cale. </p>
					<p> Dupa ce i-au dat tarcoale vreo cateva minute bune, si-au dat seama ca pot trece prin tubul rosu misterios care a aparut parca de nicaieri in mijlocul camerei. S-au plictisit insa repede de alergatul prin tub, realizand ca sa se intinda in el este mult mai placut. </p>
					<p> Cu hamacul din cusca au avut iar de furca, neintelegand la inceput scopul acelui obiect. A trecut o zi, au trecut doua si tot asa, pana cand Negru si-a luat inima in dinti si a incercat sa sara in el. Ce surpriza pe capul lui cand a realizat ca acum poate sa vada lumea de sus. Friptura, pe de alta parte, s-a multumit sa roada ocazional din el, nefiind impresionata de noua achizitie, prbabil pentru ca nu era comestibila. </p>
					<p> Indiferent de modul in care aleg sa o faca, jucatul este principala activitate din rutina celor doi iepurasi, care cauta zilnic noi metode de a se distra si de a-si umple timpul liber. </p>
				</section>
			
				<!-- poze -->
				<figure id = "muta">
					<img src = "/media/img10.jpg" alt = "Imagine cu Negru" title = "Negru in hamac">
					<figcaption> Negru in hamac </figcaption>
				</figure>
				<video controls = "controls">
					<source src = "/media/vid5.mp4" type = "video/mp4">
					Video cu Friptura jucandu-se
				</video>
			</div>
		</main>
		
		<footer>
			<ul>
				<li class = "left"> <a href = "#"> <i class = "fa fa-chevron-circle-up"></i>  Top</a> </li>
				<li class = "right"> <a href = "/blog2"> <i class = "fa fa-chevron-circle-left "></i>   Prev</a> </li>
			</ul>
		</footer>
	</body>
</html>